
{{> head }}

  {{> navbar }}
  <div class="row">
      <div class="col">
          <h1>About Text</h1>
      </div>
      <div class="col">
          <img src="assets/img/error.png" class="img-thumbnail">
      </div>

  </div>
  

  
{{> footer }}